* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    height: 75px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: darkblue;
}

main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    
    align-content: center;
    text-align: center;
    justify-content: center;
}